@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,800;1,100;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(255, 83, 118);
  --secondary-color: linear-gradient(to top, #27dd45, #1cbd72);
  --white-color: white;
}

body {
  background-color: whitesmoke;
  color: rgb(99, 99, 99);
}

.navbar {
  background-color: var(--white-color);
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar p {
  font-size: 1rem;
  margin-left: 1.5rem;
  font-weight: 600;
}
.header-logo {
  color: var(--primary-color);
  text-decoration: underline;
  text-transform: uppercase;
}
.header-logo span {
  color: black;
}
.user-login_area {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-login_area input {
  padding: 0.5rem 1rem;
  text-align: center;
  width: 7rem;
  border-radius: 12rem;
  border: 2px solid var(--primary-color);
}
.user-login_area input:focus-within {
  background-color: black;
  color: var(--white-color);
}

.user-login_area button {
  padding: 0.5rem 1rem;
  border: none;
  display: flex;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 3px;
}

/* main */
.app {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20rem 1fr;
  height: 80vh;
  gap: 1rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.balance {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}
.balance,
.cashflow_feature {
  grid-column: 1/3;
}
.balance .balance-status {
  line-height: 2rem;
}
.balance-status p:first-child {
  font-size: 2rem;
}
.balance .available-balance {
  font-size: 3rem;
}
.movements {
  overflow-y: scroll;
  border-radius: 10px;
  font-size: 0.8rem;
}
.transaction-movements {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 1.5rem;
  margin: 0.1rem;
}

.transaction-type {
  padding: 0.5rem;
  color: var(--white-color);
  margin-right: 1rem;
  border-radius: 5px;
}
.Deposit {
  background: linear-gradient(to top, #27dd45, #1cbd72);
}
.Withdrawal {
  background: linear-gradient(to top, #dd2727, #bd1c1c);
}
.feature {
  background-color: var(--white-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.feature input {
  padding: 0.5rem;
  text-align: center;
}
.feature .user-buttons {
  padding: 1rem 2rem;
  font-weight: 600;
  grid-row: 3/1;
  grid-column: 2;
  height: fit-content;
  margin: auto 5rem;
  cursor: pointer;
}
.feature h3 {
  margin-bottom: 1rem;
}
.inputs {
  display: flex;
  gap: 1.5rem;
  text-align: center;
}
.cashflow_feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-cashflow {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.sort-btn {
  display: flex;
  margin-left: 2rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: var(--white-color);
  background: var(--primary-color);
}
.user-income {
  color: green;
}
.redeem {
  color: red;
}
.user-interest {
  color: darkblue;
}
/* main */
